@font-face {
font-family:Poppins-SemiBold;
src:local(☺),url(../assets/fonts/Poppins-SemiBold.woff) format(woff),url(../assets/fonts/Poppins-SemiBold.ttf) format(truetype),url(../assets/fonts/Poppins-SemiBold.svg) format(svg);
font-weight:600;
font-style:normal;
}

* {
border:0;
margin:0;
padding:0;
}

*,:after,:before {
-webkit-box-sizing:border-box;
box-sizing:border-box;
}

aside,footer,header,main,nav {
display:block;
}

body,html {
height:100%;
width:100%;
line-height:1;
font-size:10px;
-ms-text-size-adjust:100%;
-moz-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
}

button,input,textarea {
font-family:inherit;
}

button {
cursor:pointer;
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
border-style:none;
padding:0;
}

[type=checkbox],[type=radio] {
-webkit-box-sizing:border-box;
box-sizing:border-box;
padding:0;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
height:auto;
}

[type=search]::-webkit-search-decoration {
-webkit-appearance:none;
}

progress {
vertical-align:baseline;
}

ul li {
list-style:none;
}

img {
vertical-align:top;
}

h1,h2,h3,h4,h5,h6 {
font-size:inherit;
font-weight:inherit;
}

code,kbd,samp {
font-family:monospace,monospace;
font-size:1em;
}

b,strong {
font-weight:bolder;
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline;
}

.ibg {
background-position:center;
background-size:cover;
background-repeat:no-repeat;
position:relative;
}

.ibg img {
width:0;
height:0;
top:0;
left:0;
opacity:0;
visibility:hidden;
}

body {
font-family:Muli-ExtraBold;
}

.blog__image img,.header{
position:absolute;
top:0;
left:0;
}

.about__item,.blog__image,.blog__text span,.blog__title-bottom span,.bth,.footer__bottom,.footer__text,.header__background,.icon__column:first-child .icon__list:nth-child(3),.icon__column:first-child .icon__list:nth-child(3) .icon__link,.input,.nav__item,.story__column:nth-child(2),.story__image,.testimonials-avatar,.testimonials__column:first-child,.testimonials__wrapper {
position:relative;
top:0;
left:0;
}

.header__logo{
	position:absolute;
	top:60px;
	left:50%;
	transform: translateX(-50%);
}

.header__row{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.blog__wrapper, {
display:flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
}

.header {
width:100%;
height:100%;
z-index:50;
padding-top:70px;
}

.conteiner {
max-width:1750px;
height:100%;
margin:0 auto;
}

.header__top {
display:flex;
-webkit-box-align:center;
-ms-flex-align:center;
justify-content: space-between;
align-items:center;
}

@media screen and (max-width:1300px){
	.header__top{
		margin-top: 100px;
		flex-direction:column;
	}
}

.nav__list {
display:flex;
}

.nav__item:not(:last-of-type) {
	margin-right: 35px;
}

@media screen and (max-width:1300px){
	.nav__item:not(:last-of-type) {
		margin-right: 0px;
	}
}


.nav__item:before {
content:"";
width:100%;
height:1px;
position:absolute;
bottom:0;
left:0;
background-color:#b842fd;
-webkit-transform:scale(0);
-ms-transform:scale(0);
transform:scale(0);
-webkit-transition:0 1s ease;
-o-transition:transform 1s ease;
transition:transform 1s ease,-webkit-transform 1s ease;
}

.nav__item:hover:before {
content:"";
-webkit-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1);
}

.nav__item a {
color:#fff;
font:16px Muli-Bold;
text-transform:uppercase;
}

.icon__wrapper {
display:flex;
}

.icon__column:first-child {
display:flex;
align-self:center;
margin-right: 125px;
}

@media screen and (max-width:1300px) {
	.icon__column:first-child {
		margin-right: 50px;
	}
}

.icon__column:first-child .icon__list:first-child {
	margin-right: 15px;
}

.icon__column:nth-child(2) {
-webkit-transform:rotate(90deg);
-ms-transform:rotate(90deg);
transform:rotate(90deg);
-webkit-box-flex:0;
-ms-flex:0 1 0;
flex:0 1 0;
}

.icon__column:nth-child(3) {
display:flex;
-webkit-box-flex:0;
-ms-flex:0 1 0;
flex:0 1 0;
-webkit-box-pack:end;
-ms-flex-pack:end;
justify-content:flex-end;
}

.icon__column:nth-child(3) .icon__list {
margin:0 7.5px;
}

.icon__column:nth-child(3) .icon__list:first-child {
margin:0 7.5px 0 0;
}

.icon__column:nth-child(3) .icon__list:nth-child(3) {
margin:0 0 0 7.5px;
}

.icon__list {
-webkit-transition:0 1s ease;
-o-transition:transform 1s ease;
transition:transform 1s ease,-webkit-transform 1s ease;
}

.icon__list:not(:last-of-type){
	margin-right: 15px;
}

.icon__list:hover {
-webkit-transform:rotate(360deg);
-ms-transform:rotate(360deg);
transform:rotate(360deg);
}

.icon__tabs {
width:23px;
height:23px;
position:absolute;
top:-12px;
right:-20px;
background-color:#fff;
border-radius:50%;
text-align:center;
padding-top:6px;
font-size:12px;
}

.header__bottom {
-ms-flex-item-align:center;
-ms-grid-row-align:center;
align-self:center;
}

.bth {
color:#fff;
font:2.1rem Muli-Regular;
background-color:#0aa566;
border-radius:3.5rem;
text-indent:-2.7em;
-webkit-transition:0 500ms cubic-bezier(0.33,0.46,0.08,1.33);
-o-transition:transform 500ms cubic-bezier(0.33,0.46,0.08,1.33);
transition:transform 500ms cubic-bezier(0.33,0.46,0.08,1.33),-webkit-transform 500ms cubic-bezier(0.33,0.46,0.08,1.33);
border:1px solid #036b416b;
padding:1.9rem 11.354rem;
}

.bth:hover {
-webkit-transform:translate(50px);
-ms-transform:translate(50px);
transform:translate(50px);
}

@media screen and (max-width:1300px) {
	.bth:hover {
		-webkit-transform:translate(0);
		-ms-transform:translate(0);
		transform:translate(0);
	}
}


.header__bth {
	align-self: center;
	margin-top:105px;
}

.bth:after {
content:"";
width:4rem;
height:2rem;
position:absolute;
top:23px;
right:25px;
display:inline-block;
background:url(../assets/images/header/Arrow.png) center/cover no-repeat;
-webkit-transition-duration:500ms;
-o-transition-duration:500ms;
transition-duration:500ms;
}

.bth:hover:after {
position:absolute;
right:15px;
}
.header__background {
	width:100%;
	height:100vh;
}

.header__burger{
	width: 20px;
	height: 20px;
	display: none;
	position: fixed;
	top: 40px;
	left: 25px;
	z-index: 9999;
	background-color: transparent;
}

@media screen  and (max-width:1300px){
	.header__burger{
		display: block;
	}
}
.header__burger span{
	width: 100%;
	height: 2px;

	position:absolute;
	top:0;
	left:0;

	background-color: rgb(250, 4, 4);
}

.header__burger:before{
	content: "";
	width: 100%;
	height: 2px;

	position:absolute;
	top:50%;
	left:0;
	transform: translateY(-50%);

	background-color: rgb(250, 4, 4);
}


.header__burger:after{
	content: "";
	width: 100%;
	height: 2px;

	position:absolute;
	bottom:0;
	left:0;
	transform: translateY(-50%);

	background-color: rgb(250, 4, 4);
}

.header__burger.active span {
	position:absolute;
bottom:50%;
left:0;
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
transform:rotate(45deg);
}

.header__burger.active:before {
position:absolute;
bottom:50%;
left:0;
-webkit-transform:rotate(180deg) scale(0);
-ms-transform:rotate(180deg) scale(0);
transform:rotate(180deg) scale(0);
}

.header__burger.active:after {
position:absolute;
bottom:50%;
left:0;
-webkit-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);
transform:rotate(-45deg);
}

.menu {
width:100%;
height:100%;
position:fixed;
top:0;
left:0;
z-index: 100;
background-color:rgba(0,0,0,0.616);
-webkit-transform:translate(-120%);
-ms-transform:translate(-120%);
transform:translate(-120%);
-webkit-transition-duration:1s;
-o-transition-duration:1s;
transition-duration:1s;
-webkit-transform-origin:15px 100px;
-ms-transform-origin:15px 100px;
transform-origin:15px 100px;
}

.menu.active {
width:100%;
height:100%;
-webkit-transform:translate(0%);
-ms-transform:translate(0%);
transform:translate(0%);
overflow:auto;
}

.lock {
overflow:hidden;
}

.nav__list.done {
position:relative;
top:50%;
left:0;
-webkit-transform:translate(0,-50%);
-ms-transform:translate(0,-50%);
transform:translate(0,-50%);
display:block;
text-align:center;
}

.nav__list.done li {
-webkit-perspective:500px;
perspective:500px;
margin-top:25px;
-webkit-transition:color 1s ease,-webkit-transform 1s ease;
-o-transition:transform 1s ease,color 1s ease;
transition:transform 1s ease,color 1s ease,-webkit-transform 1s ease;
}

.nav__list.done li:hover {
-webkit-transform:rotate3d(0,1,0,360deg);
transform:rotate3d(0,1,0,360deg);
}

.nav__list.done li a {
font-size:25px;
text-shadow:3px 3px 3px #000;
-webkit-transition-duration:1s;
-o-transition-duration:1s;
transition-duration:1s;
}

.nav__list.done li:hover a {
color:#f8ea2a;
}

.banner {
position:fixed;
bottom:50px;
right:50px;
z-index:10000;
-webkit-animation-name:animation;
animation-name:animation;
-webkit-animation-duration:500ms;
animation-duration:500ms;
-webkit-animation-iteration-count:infinite;
animation-iteration-count:infinite;
}

.text__play {
position:absolute;
top:50%;
left:50%;
-webkit-transform:translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
color:#fff;
}

.smoothies {
	padding: 115px 0 150px;
}

.content-smoothies {
max-width:1100px;
margin:0 auto;
}

.title {
	margin-bottom: 50px;
text-align:center;
font-size:50px;
color:#f7ae3b;
}

.text {
font:18px/35px Muli-Regular;
text-align:center;
}

.smoothie__text {
	max-width: 830px;
	margin: 0 auto 50px auto;
	padding: 0 15px;
}

.smoothies__row {
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
margin:0 6%;
}

.smoothies__column {
	padding: 25px 0 40px 0;
-webkit-box-flex:1;
-ms-flex:1 0 25%;
flex:1 0 25%;
text-align:center;
border-bottom:1px solid #ddd6cad5;
border-left:1px solid #ddd6cad5;
}


@media screen and (max-width:768px) {
	.smoothies__column{
		flex:1 0 50%;
	}
}

.smoothies__column:first-child {
border-bottom:1px solid #ddd6cad5;
border-left:0 solid #ddd6cad5;
}

.smoothies__column:nth-child(5) {
border-bottom:0 solid #ddd6cad5;
border-left:0 solid #ddd6cad5;
}

.smoothies__column:nth-child(1n+6) {
border-bottom:0 solid #ddd6cad5;
border-left:1px solid #ddd6cad5;
}

.smoothie__title {
	color:#f2612d;
	font-size:18px;
}

.about {
	padding: 50px 0;
	background-color:#15876c;
}

.about__row {
	display:flex;
	justify-content: center;
}



.about__wrap-img{
	height: 200px;
}

.about__image{
	position: relative;
	top: 30px;
}

.about__description {
	margin-left: 50px;
}

.title--white {
color:#fff;
}

.about__title {
	max-width: 550px;
	font-size:55px;
	margin-bottom: 70px;
}

.about__title span {
	color:#cae941;
}

.about__list {
	margin-bottom: 55px;
}

.about__item {
color:#fff;
font:21px/25px Muli-Regular;
padding-left:35px;
}
.about__item:not(:last-of-type){
	margin-bottom: 35px;
}

.about__item:before {
content:"";
width:20px;
height:20px;
background:url(../assets/images/about/icon.png) center/cover no-repeat;
display:inline-block;
position:absolute;
top:3px;
left:0;
}

.about__bth {
	font-size:2.4rem;
	background-color:#15866e;
	border-radius:3rem;
	border:1px solid #afa344;
}

.about__bth:after {
content:"";
width:3rem;
height:1rem;
position:absolute;
top:50%;
right:25px;
-webkit-transform:translateY(-50%);
-ms-transform:translateY(-50%);
transform:translateY(-50%);
background:url(../assets/images/header/Arrow.png) center/cover no-repeat;
}
@media screen and (max-width:1150px) {
	.about__row{
		align-items: center;
		flex-direction: column-reverse;
		padding: 0 15px;
	}
	.about__wrap-img{
		display: none;
	}
	.about__title {
		text-align: center;	
	}
	.about__description {
		margin-left: 0px;
  }
  .about__row {
	align-items: center;
}
}


.products__row {
display:flex;
}

.products__column {
	padding: 50px 0;
    text-align: center;
-webkit-box-flex:1;
-ms-flex:1 0 25%;
flex:1 0 25%;
	justify-content: center;
	background-color:#62291a;
}




.products__column--green {
background-color:#198a6f;
}

.products__column--yellow {
background-color:#fbb33f;
}

.products__column--orang {
background-color:#c0481d;
}

.products__wrapper {
height:100%;
border:1px solid #000;
}

.products__image {
	margin-bottom: 25px;
}

.products__column:hover .products__image img {
-webkit-animation-name:animation;
animation-name:animation;
-webkit-animation-duration:500ms;
animation-duration:500ms;
-webkit-animation-iteration-count:infinite;
animation-iteration-count:infinite;
}


.products__caption {
color:#fff;
font:bold 24px/22px Muli-Regular;
text-align:center;
}

.products__text {
	display: block;
	margin-bottom: 25px;
color:#fff;
font-style:italic;
font-family:Muli-Regular;
margin-top:10px;
-webkit-box-flex:1;
-ms-flex:1 1 auto;
flex:1 1 auto;
}

.products__bth {
width:200px;
height:60px;
-ms-flex-item-align:center;
-ms-grid-row-align:center;
align-self:center;
text-indent:-70px;
border:1px solid #fff;
background-color:#ffffff00;
}

.products__bth:after {
content:"";
width:30px;
height:15px;
position:absolute;
top:23px;
right:35px;
display:inline-block;
background:url(../assets/images/products/Arrow.png) center/cover no-repeat;
}


@media screen and (max-width:992px) {
	.products__row {
		flex-wrap: wrap;
	}
	.products__column{
		flex: 1 0 50%;
	}
}

@media screen and (max-width:576px) {
	.products__column{
		flex: 1 1 100%;
	}
}

.story {
	padding: 120px 0 160px 0 ;
}

.story__row{
	display: flex;
	padding: 0 15px;
}

.content__story {
max-width:1300px;
margin:0 auto;
}

.story__column {
	padding: 150px 15px 50px 15px;
}

.story__text {
	margin-bottom: 50px;
	max-width: 1000px;
}

.storu__bth {
width:30rem;
text-indent:-3rem;
margin-bottom:60px;
padding:1.6rem 0;
}

.story__image {
	width: 100%;
	height: 100%;
	position: relative;
}
.story__image img{
	width: 100%;
	height: 100%;
	min-height: 600px;
	object-fit: cover;
	object-position: center;
}


.story__image::after{
	content:'';
	width: 100%;
	height: 100%;
	position:absolute;
	top:0;
	left:-155px;
	background: url(../assets/images/story/Stamp.png) no-repeat ;
}

@media screen and (max-width:992px) {
	.story__row{
		flex-direction: column;
	}	
	.story__image::after{
		display: none;
	}
	.story__image img{
		min-height: 400px;
	}
	.story__column {
		padding: 50px 15px 25px 15px;
		text-align: center;
	}
	.story__title{
		text-align: center;
	}
	.story__text {
		margin-bottom: 25px;
		text-align: center;
	}
	
	.storu__bth {
	width:30rem;
	text-indent:-3rem;
	padding:1.6rem 0;
	}
}

.testimonials{
	position: relative;
	background-color:#643318;
	padding:120px 0 80px;
}

.testimonials:before {
	content:"Sarah A";
	font:120px/40px Muli-Bold;
	position:absolute;
	top:50%;
	right:50%;
	transform: translate(50%);
	color:#5b250e;
	z-index:0;
	}

.title--color {
color:#f2612d;
}

.testimonials__row {
display:flex;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
}


.testimonials__column:first-child {
	padding: 25px 0;
	margin-right:50px;
	text-align: center;
}

@media screen and (max-width:768px) {
	.testimonials__row{
		flex-direction: column;	
		align-items: center;
	}
	.testimonials__column:first-child {
		margin-right:0px;
		margin-bottom: 30px;
		text-align: center;
	}
	.testimonials:before {
		font:80px/40px Muli-Bold;
	}
	
}

@media screen and (max-width:576px) {
	.testimonials:before {
		font:60px/40px Muli-Bold;
	}
	
}

.testimonials__text {
	margin-bottom: 25px;
color:#fff;
display:inline-block;
max-width:460px;
z-index:500;
}
.testimonials__wrapper{
	padding: 0 15px;
}


.testimonials-avatar image {
-webkit-transform-style:preserve-3d;
transform-style:preserve-3d;
-webkit-transform:perspective(1000px);
transform:perspective(1000px);
}

.testimonials-name__user {
display:block;
color:#f7ae3b;
font-size:16px;
}

.sidebar {
display:flex;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
}

.arrow__left,.arrow__right {
background-color:rgba(255,255,0,0);
margin:0 45px;
}

.arrow__left img {
-webkit-transform:rotate(180deg);
-ms-transform:rotate(180deg);
transform:rotate(180deg);
}

.blog__body {
margin:100px 0 50px;
}

.conteiner__blog {
max-width:1200px;
margin:0 auto;
}

.blog__row {
display:flex;
border:3px solid #a31b1b;
}

.blog__column {
-webkit-box-flex:1;
-ms-flex:1 0 50%;
flex:1 0 50%;
border:1px solid #4f1ba3;
}

.blog__column:nth-child(2) {
border-top:10px solid #f7ae3b;
margin-top:160px;
}

.blog__image-wrapper {
height:50%;
}

.blog__image {
height:100%;
width:100%;
margin:50px 0 200px;
padding:0 0 67.003%;
}

.blog__title {
font-size:30px;
color:#f2612d;
border:3px solid #a31b1b;
padding:50px 20px 0 30px;
}

.blog__time {
border:3px solid #120897;
margin:25px 0 50px 40px;
}

.blog__text {
text-align:left;
border:3px solid #d31212;
padding:0 40px 50px 80px;
}

.blog__text span {
font-family:Muli-ExtraBoldItalic;
}

.blog__text span:after {
content:"";
width:20px;
height:10px;
position:absolute;
top:7px;
right:-30px;
display:inline-block;
background:url(../assets/images/header/Arrow.png) center/cover no-repeat;
}

.blog__title-bottom span {
font-size:24px;
text-align:center;
display:inline-block;
margin-bottom:50px;
color:#0aa566;
}

.blog__title-bottom span:before {
content:"";
width:26px;
height:26px;
display:inline-block;
position:absolute;
top:0;
left:-40px;
background:url(../assets/images/blog/Icon.png) center/cover no-repeat;
}

.instagram__row {
display:flex;
overflow-x:auto;
overflow-y:hidden;
}

.instagram__image {
position:relative;
width:20%;
min-width:200px;
-webkit-transition-duration:1s;
-o-transition-duration:1s;
transition-duration:1s;
}

.instagram__image img {
width:100%;
height:100%;
overflow-x:visible;
overflow-y:visible;
}

.instagram__image:hover {
-webkit-transform:scale(1.2);
-ms-transform:scale(1.2);
transform:scale(1.2);
z-index:1000;
}

.instagram__image:before {
content:"";
width:26px;
height:26px;
display:inline-block;
background:url(/assets/images/istagram/Icon-inst.png) center/cover no-repeat;
position:absolute;
bottom:20px;
right:20px;
}

.footer {
background-color:#faaa3f;
}

.footer__column {
-webkit-box-flex:1;
-ms-flex:1 0 25%;
flex:1 0 25%;
border:1px solid #000;
margin:80px 0 95px;
}

.footer__column:first-child {
-ms-flex-item-align:center;
-ms-grid-row-align:center;
align-self:center;
}

.footer__title {
text-align:left;
margin-bottom:45px;
}

.footer__item {
margin-top:20px;
color:#6d450c;
}

.footer__item a {
font:18px Muli-Bold;
color:#6d450c;
}

.footer-icon__list {
border:1px solid #000;
display:flex;
margin:0 -10px;
}

.footer-icon__item {
margin:0 10px;
}

.input {
margin-bottom:35px;
border:1px solid #000;
}

.input__search {
width:90%;
height:60px;
border-radius:35px;
border:1px solid rgba(0,0,0,0);
-webkit-transition:border 1s ease,-webkit-box-shadow 1s ease;
-o-transition:border 1s ease,box-shadow 1s ease;
transition:border 1s ease,box-shadow 1s ease,-webkit-box-shadow 1s ease;
}

.input__search:focus {
border:1px solid #888686;
-webkit-box-shadow:1px 2px 4px #000;
box-shadow:1px 2px 4px #000;
}

.input__image {
width:40px;
height:20px;
position:absolute;
top:50%;
left:5%;
-webkit-transform:translatey(-50%);
-ms-transform:translatey(-50%);
transform:translatey(-50%);
border:1px solid #000;
}

[placeholder="Subscribe to our newsletter"] {
font:17px Muli-Bold;
color:#6d450c;
text-indent:70px;
}

.footer__row--df {
display:flex;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
}

.footer__text {
font-size:18px;
color:#6d450c;
border:1px solid #000;
}

.footer__text span:before {
content:"";
width:48px;
height:43px;
position:absolute;
top:-25px;
left:-60px;
background:url(../assets/images/footer/Arrow.png) center/cover no-repeat;
font-size:18px;
color:#6d450c;
}

.footer__bottom--bg {
background-color:#68301c;
}

.footer__bottom {
display:flex;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
height:60px;
}

.author-rights {
font:13px Muli-Bold;
-webkit-box-flex:0.5;
-ms-flex-positive:0.5;
flex-grow:0.5;
text-align:right;
border:1px solid #000;
color:#af8a82;
}

.footer__bottom-text {
border:1px solid #000;
-webkit-box-flex:0.44;
-ms-flex-positive:0.44;
flex-grow:0.44;
text-align:right;
}

.footer__bottom-image {
width:50px;
height:50px;
top:-30px;
right:0;
border-radius:5px;
background-color:#f2662f;
-webkit-transition:0 500ms cubic-bezier(0.17,0.67,0.6,1.31);
-o-transition:transform 500ms cubic-bezier(0.17,0.67,0.6,1.31);
transition:transform 500ms cubic-bezier(0.17,0.67,0.6,1.31),-webkit-transform 500ms cubic-bezier(0.17,0.67,0.6,1.31);
position:relative;
display:flex;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
}

.footer__bottom-image:hover {
-webkit-transform:translate(0,-15px);
-ms-transform:translate(0,-15px);
transform:translate(0,-15px);
}

.footer__bottom-image-img {
background:url(../assets/images/footer/arrow2.png) no-repeat center/cover;
width:13px;
height:25px;
}

:active,:focus,a:active,a:focus {
outline:none;
}

input::-ms-clear,.header__burger {
display:none;
}

a,a:visited,a:hover {
text-decoration:none;
}

.header__image,.blog__title-bottom {
text-align:center;
}

.icon__column:first-child .icon__list:nth-child(3),.icon__column:first-child .icon__list:nth-child(3) .icon__link {
margin:0 0 0 4.4610992148%;
}

.nav__list.done li:first-child,.footer__list:nth-child(2) .footer__item {
margin-top:0;
}

.text::-moz-selection,.text::selection {
color:red;
background-color:#FF0;
}

.smoothies__wrapper{
height:100%;
}


.footer__row {
display:flex;
}

.title--left,.text--left {
text-align:left;
}

.footer__column:nth-child(2),.footer__column:nth-child(3) {
-webkit-box-flex:1;
-ms-flex:1 0 0;
flex:1 0 0;
margin-right:9.1428571429%;
}

.icon__wrapper {
margin:25px 0;
}

@media max-width1200px{
.bth {
font-size:1.6rem;
padding:1.9rem 10.354rem;
}

.bth:after {
width:2.5rem;
height:1.25rem;
}

.header__burger {
width:21px;
height:14px;
position:fixed;
z-index:1000;
top:50px;
left:10px;
display:block;
}

.header__burger:after,.header__burger:before,.header__burger span {
content:"";
width:100%;
height:2px;
background-color:#f5342e;
border-radius:25px;
position:absolute;
bottom:0;
left:0;
-webkit-transition:bottom 500ms ease,-webkit-transform 500ms ease;
-o-transition:transform 500ms ease,bottom 500ms ease;
transition:transform 500ms ease,bottom 500ms ease,-webkit-transform 500ms ease;
-webkit-box-shadow:2px 2px 1px rgba(0,0,0,0.178);
box-shadow:2px 2px 1px rgba(0,0,0,0.178);
}

.header__burger span {
position:absolute;
bottom:100%;
left:0;
}

.header__burger:before {
position:absolute;
bottom:50%;
left:0;
}

.header__burger:after {
position:absolute;
bottom:0;
left:0;
}

.footer__row {
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}

.footer__column {
-webkit-box-flex:1;
-ms-flex:1 0 50%;
flex:1 0 50%;
border:1px solid #000;
margin:25px 0;
}

.footer__column:first-child {
-webkit-box-flex:1;
-ms-flex:1 0 50%;
flex:1 0 50%;
}

[placeholder="Subscribe to our newsletter"] {
font-size:16px;
}

.footer__row--df {
display:block;
}

.footer__text span {
position:relative;
top:0;
left:0;
border:1px solid #000;
display:inline-block;
}

.footer__text span:before {
content:"";
width:48px;
height:43px;
position:absolute;
top:-25px;
left:-60px;
background:url(../assets/images/footer/Arrow.png) center/cover no-repeat;
font-size:18px;
color:#6d450c;
}

.footer-icon__list {
display:flex;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
margin:10px 0 0;
}

.footer__title,.footer__text {
text-align:center;
}

.footer__column:nth-child(2),.footer__column:nth-child(3) {
-webkit-box-flex:1;
-ms-flex:1 0 50%;
flex:1 0 50%;
margin-right:0;
}
}

@media max-width500px{
.icon__column {
margin:0 auto;
}

.header__image img {
width:100%;
height:100%;
}

.bth:hover {
-webkit-transform:translate(0);
-ms-transform:translate(0);
transform:translate(0);
}

.icon__wrapper {
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
margin-top:25px;
}

.icon__column:nth-child(2) {
display:none;
}

.icon__column:nth-child(3) {
margin-top:25px;
}
}

@media max-width768px{
.smoothies__column {
-webkit-box-flex:1;
-ms-flex:1 0 50%;
flex:1 0 50%;
}

.title {
font-size:35px;
}

.smoothies__column:nth-child(odd) {
border-bottom:1px solid #ddd6cad5;
border-left:0 solid #ddd6cad5;
}

.smoothies__column:nth-child(2n+6) {
border-bottom:1px solid #ddd6cad5;
border-left:1px solid #ddd6cad5;
}

.smoothies__column:nth-child(1n+7) {
border-bottom:0 solid #ddd6cad5;
}

.smoothie__text {
margin:30px 0 35px;
padding:0 20px;
}
}

@media max-width468px{
.title {
font-size:30px;
}

.smoothies__column:nth-child(n+2) {
border-bottom:1px solid #ddd6cad5;
border-left:0 solid #ddd6cad5;
}

.smoothies__column:nth-child(8) {
border-bottom:0 solid #ddd6cad5;
}

.footer__image {
text-align:center;
}

.footer__image img {
width:80%;
height:80%;
}

.input [placeholder="Subscribe to our newsletter"] {
font-size:12px;
}

.smoothies__column,.footer__column:first-child {
-webkit-box-flex:1;
-ms-flex:1 1 100%;
flex:1 1 100%;
}
}

@media max-width1420px{
.about__column:first-child {
position:relative;
top:75px;
left:0;
border:1px solid #000;
margin:0 1.0416666667% 0 0;
}

.about__column {
-webkit-box-flex:1;
-ms-flex:1 0 45%;
flex:1 0 45%;
}

.products__column {
-webkit-box-flex:1;
-ms-flex:1 0 50%;
flex:1 0 50%;
}
}

@media max-width1024px{
.about__column {
-webkit-box-flex:1;
-ms-flex:1 1 auto;
flex:1 1 auto;
}

.about__column:first-child {
-webkit-box-ordinal-group:3;
-ms-flex-order:2;
order:2;
}

.about__column:nth-child(2) {
-webkit-box-ordinal-group:2;
-ms-flex-order:1;
order:1;
padding:0 20px;
}

.story__image--stamp {
position:absolute;
top:0;
left:0;
}

.story__column {
-webkit-box-flex:1;
-ms-flex:1 1 100%;
flex:1 1 100%;
}

.story__text {
margin:60px 0;
padding:0 20px;
}

.storu__bth {
width:200px;
height:50px;
display:inline-block;
margin:0 auto 60px;
}

.about__row,.story__row {
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}

.about__title,.title--left,.text--left {
text-align:center;
}
}

@media max-width764px{
.about__bth {
font-size:14px;
}

.about__bth .bth {
font-size:1.46rem;
padding:1.4rem 6.265rem;
}

.about__title {
text-align:center;
font-size:30px;
}

.about__item {
font-size:18px;
}

.testimonials__row {
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}

.testimonials__column {
-webkit-box-flex:1;
-ms-flex:1 1 100%;
flex:1 1 100%;
text-align:center;
}

.testimonials__column:first-child {
margin:0 0 50px;
}

.blog__row {
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
}

.blog__column:first-child {
-webkit-box-flex:1;
-ms-flex:1 0 100%;
flex:1 0 100%;
padding-bottom:0;
}

.blog__text {
text-align:center;
padding:0 20px 50px;
}

.blog__image {
margin:50px 0 0;
}

.blog__time {
text-align:center;
margin:25px 0;
}

.products__column,.blog__column {
-webkit-box-flex:1;
-ms-flex:1 1 100%;
flex:1 1 100%;
}
}

