.about {
	background-color: #15876c;
}

.about__conteiner {
	max-width: 1920px;
	margin: 0 auto;
	border: 1px solid #000;
}

.about__row {
	display: flex;
	border: 1px solid #000;
}

.about__column:nth-child(1) {
	position: relative;
	top: 75px;
	left: 0;
	margin: 0px 140px/1920px * 100%;
	border: 1px solid #000;
}

.about__image {
	@extend %flexDirC;
	justify-content: flex-end;
	height: 100%;
}
.about__image-wrapper {
	border: 1px solid #000;
}
.about__image img {
	@include wh(100%, 100%);
}

.about__description {
	height: 100%;
	margin: 100px 0 60px 0;
	border: 1px solid #000;
}

.title--white {
	color: $white;
}

.about__title {
	font-size: 55px;
}

.about__title span {
	color: #cae941;
}

.about__list {
	margin: 70px 0 55px 0;
}

.about__item {
	@extend %posRel;
	color: $white;
	font: 21px/25px "Muli-Regular";
	margin-top: 30px;
	padding-left: 35px;
}
.about__item:before {
	content: "";
	@include wh(20px, 20px);
	background: url("../assets/images/about/icon.png") center/cover no-repeat;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 0;
}

.about__bth {
	padding: 1.4rem 8.265rem;
	text-indent: -6rem;
	font-size: 2.4rem;
	background-color: rgb(21, 134, 110);
	border-radius: 3rem;
	border: 1px solid rgb(175, 163, 68);
}
.about__bth:after {
	content: "";
	@include wh(3rem, 1rem);
	position: absolute;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
	background: url("../assets/images/header/Arrow.png") center/ cover no-repeat;
}

@media (max-width: 1420px) {
	.about__column:nth-child(1) {
		position: relative;
		top: 75px;
		left: 0;
		margin: 0px 20px/1920px * 100% 0 0;
		border: 1px solid #000;
	}
	.about__column {
		flex: 1 0 45%;
	}
}
@media (max-width: 1024px) {
	.about__column {
		flex: 1 1 auto;
	}
	.about__row {
		display: flex;
		flex-wrap: wrap;
	}
	.about__column:nth-child(1) {
		order: 2;
	}
	.about__column:nth-child(2) {
		padding: 0 20px;
		order: 1;
	}
	.about__title {
		text-align: center;
	}
}

@media (max-width: 764px) {
	.about__bth {
		font-size: 14px;
		.bth {
			padding: 1.4rem 6.265rem;
			font-size: 1.46rem;
		}
	}
	.about__title {
		font-size: 35px;
	}
	.about__item {
		font-size: 18px;
	}
	.about__title {
		text-align: center;
		font-size: 30px;
	}
}
