.instagram__row {
	display: flex;
	perspective: 700px;
	overflow-x: auto;
	overflow-y: hidden;
}

.instagram__column {
	perspective: 500px;
	width: 20%;
	min-width: 200px;
}

.instagram__image {
	@extend %posRel;
	height: 100%;
	padding: 0 0 103.76% 0;
	transition-duration: 1s;
}
.instagram__column:hover .instagram__image {
	transform: rotate3d(1, 1, 0, 360deg);
	border-radius: 50%;
}
.instagram__image img {
	@include wh(100%, 100%);
	@extend %posAbs;
}

.instagram__image:before {
	content: "";
	@include wh(26px, 26px);
	display: inline-block;
	background: url("/assets/images/istagram/Icon-inst.png") center/ cover no-repeat;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
