.instagram__row {
	display: flex;
	perspective: 700px;
}

.instagram__column {
	perspective: 500px;
	flex: 1 0 20%;
}

.instagram__image {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	padding: 0 0 103.76% 0;
	transition-duration: 1s;
}
.instagram__column:hover .instagram__image {
	transform: rotate3d(1, 1, 0, 360deg);
	border-radius: 50%;
}
.instagram__image img {
	@extend %posAbs;
	height: 100%;
	width: 100%;
}

.instagram__image:before {
	content: "";
	display: inline-block;
	background: url("/assets/images/istagram/Icon-inst.png") center/ cover no-repeat;
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 26px;
	height: 26px;
}

@media (max-width: 764px) {
	.instagram__row {
		display: flex;
		flex-wrap: wrap;
	}

	.instagram__column {
		flex: 1 1 100%;
	}
}
