.smoothies {
	margin: 115px 0 150px 0;
}
.content-smoothies {
	max-width: 1100px;
	margin: 0 auto;
}
.smoothies__desripction {
}
.title {
	text-align: center;
	font-size: 50px;
	color: rgb(247, 174, 59);
}
.text {
	font: 18px/35px "Muli-Regular";
	text-align: center;
}

.text::selection {
	color: red;
	background-color: yellow;
}
.smoothie__text {
	margin: 60px 0 65px 0;
	padding: 0 90px;
}

.smoothies__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 6%;
}
//border====================border====================border
.smoothies__column {
	flex: 1 0 25%;
	text-align: center;
	border-bottom: 1px solid $white-b;
	border-left: 1px solid $white-b;
}

.smoothies__column:nth-child(1) {
	border-bottom: 1px solid $white-b;
	border-left: 0px solid $white-b;
}

.smoothies__column:nth-child(5) {
	border-bottom: 0px solid $white-b;
	border-left: 0px solid $white-b;
}

.smoothies__column:nth-child(1n + 6) {
	border-bottom: 0px solid $white-b;
	border-left: 1px solid $white-b;
}

//border--------------------border--------------------border
.smoothie__title {
	color: #f2612d;
	font-size: 18px;
	margin-bottom: 40px;
}

.smoothies__wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.smoothies__image {
	margin: 27px 0;
	flex: 1 1 100%;
}

@media (max-width: 768px) {
	.smoothies__column {
		flex: 1 0 50%;
	}
	.title {
		font-size: 35px;
	}

	//border====================border====================border
	.smoothies__column:nth-child(2n + 1) {
		border-bottom: 1px solid $white-b;
		border-left: 0px solid $white-b;
	}
	.smoothies__column:nth-child(2n + 6) {
		border-bottom: 1px solid $white-b;
		border-left: 1px solid $white-b;
	}
	.smoothies__column:nth-child(1n + 7) {
		border-bottom: 0px solid $white-b;
	}

	//border--------------------border--------------------border
	.smoothie__text {
		margin: 30px 0 35px 0;
		padding: 0 20px;
	}
}
@media (max-width: 468px) {
	.smoothies__column {
		flex: 1 1 100%;
	}
	.title {
		font-size: 30px;
	}

	//border====================border====================border
	.smoothies__column:nth-child(n + 2) {
		border-bottom: 1px solid $white-b;
		border-left: 0px solid $white-b;
	}
	.smoothies__column:nth-child(8) {
		border-bottom: 0px solid $white-b;
	}
	//border--------------------border--------------------border
}
