.smoothies {
	margin: 115px 0 150px 0;
}
.content-smoothies {
	max-width: 1100px;
	margin: 0 auto;
}
.smoothies__desripction {
}
.title {
}
.text {
}
.smoothies__row {
}
.smoothies__column {
}
.smoothies__wrapper {
}
.smoothies__image {
}
