.testimonials__wrapper {
	@extend %posRel;
	background-color: #643318;
	padding: 120px 0 80px 0;
}
.title--color {
	color: #f2612d;
}

.testimonials__row {
	display: flex;
	justify-content: center;
	margin: 130px 0 120px 0;
}

.testimonials__column:nth-child(1) {
	margin-right: 50px;
	@extend %posRel;
}

.testimonials__text {
	color: $white;
	display: inline-block;
	max-width: 460px;
	z-index: 10000;
}

.testimonials__sub-text {
	text-align: center;
}
.testimonials__wrapper:before {
	content: "Sarah A";
	font: 140px/40px "Muli-Bold";
	font-size: 140px/1920px * 100vw;
	position: absolute;
	top: 40%;
	right: 40%;
	color: #5b250e;
	z-index: 0;
	@media screen and(max-width:764px) {
		font-size: 90px/764px * 100vw;
		top: 30%;
		right: 50%;
		transform: translate(50%, -60%);
	}
}
.testimonials-avatar {
	@extend %posRel;
}
.testimonials-name__user {
	display: inline-block;
	margin-top: 35px;
	color: #f7ae3b;
	font-size: 16px;
}

.sidebar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow__left,
.arrow__right {
	background-color: rgba(255, 255, 0, 0);
	margin: 0 45px;
}

.arrow__left img {
	transform: rotate(180deg);
}

@media (max-width: 764px) {
	.testimonials__row {
		flex-wrap: wrap;
	}
	.testimonials__column {
		flex: 1 1 100%;
		text-align: center;
	}
	.testimonials__column:nth-child(1) {
		margin: 0 0 50px 0;
	}
}
