.header__burger {
	display: none;
}

@media (max-width: 1200px) {
	.header__burger {
		@include wh(21px, 14px);
		position: fixed;
		z-index: 1000;
		top: 50px;
		left: 10px;
		display: block;
	}
	.header__burger span,
	.header__burger:before,
	.header__burger:after {
		content: "";
		@include wh(100%, 2px);
		background-color: rgb(245, 52, 46);
		border-radius: 25px;
		position: absolute;
		bottom: 0;
		left: 0;
		transition: transform 500ms ease, bottom 500ms ease;
		box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.178);
	}
	.header__burger span {
		position: absolute;
		bottom: 100%;
		left: 0;
	}
	.header__burger:before {
		position: absolute;
		bottom: 50%;
		left: 0;
	}
	.header__burger:after {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

//При нажатие добавляется класс js
.header__burger.active span {
	position: absolute;
	bottom: 50%;
	left: 0;
	transform: rotate(45deg);
}
.header__burger.active:before {
	position: absolute;
	bottom: 50%;
	left: 0;
	transform: rotate(180deg) scale(0);
}
.header__burger.active:after {
	position: absolute;
	bottom: 50%;
	left: 0;
	transform: rotate(-45deg);
}
//При нажатие добавляется класс js
// burger---------------------adaptiv----------------------burger

// menu=============================================
.menu {
	@include wh(100%, 100%);
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.616);
	transform: translate(-120%);
	transition-duration: 1s;
	transform-origin: 15px 100px;
}

.menu.active {
	@include wh(100%, 100%);
	transform: translate(0%);
	overflow: auto;
}

.lock {
	overflow: hidden;
}
// menu-------------------------------------------------------
// ===============nav__list done==============================
.nav__list.done {
	position: relative;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	display: block;
	text-align: center;
}

.nav__list.done li {
	perspective: 500px;
	margin-top: 25px;
	transition: transform 1s ease, color 1s ease;
}
.nav__list.done li:hover {
	transform: rotate3d(0, 1, 0, 360deg);
}
.nav__list.done li:first-child {
	margin-top: 0px;
}

.nav__list.done li a {
	font-size: 25px;
	text-shadow: 3px 3px 3px #000;
	transition-duration: 1s;
}
.nav__list.done li:hover a {
	color: rgb(248, 234, 42);
}

// ----------------nav__list done------------------------------------
