.footer {
	background-color: #faaa3f;
}

.footer__row {
	display: flex;
}

.footer__column {
	margin: 80px 0 95px 0;
	flex: 1 0 25%;
	border: 1px solid #000;
}
.footer__column:nth-child(2) {
	flex: 1 0 0%;
	margin-right: 160px/1750px * 100%;
}
.footer__column:nth-child(3) {
	flex: 1 0 0%;
	margin-right: 160px/1750px * 100%;
}

.footer__column:nth-child(1) {
	align-self: center;
}

.footer__title {
	text-align: left;
	margin-bottom: 45px;
}

.footer__item {
	margin-top: 20px;
	color: #6d450c;
}
.footer__item a {
	font: 18px "Muli-Bold";
	color: #6d450c;
}
.footer__list:nth-child(2) .footer__item {
	margin-top: 0px;
}

.footer-icon__list {
	border: 1px solid #000;
	display: flex;
	margin: 0 -10px;
}

.footer-icon__item {
	margin: 0 10px;
}

.input {
	margin-bottom: 35px;
}

.input__search {
	@include wh(90%, 60px);
	@extend %posRel;
	border-radius: 35px;
}
.input__search:before {
	content: "";
	@include wh(40px, 20px);
	position: absolute;
	top: 0;
	left: 0;
	background: url("../assets/images/footer/Icon.png") center/ cover no-repeat;
	border: 1px solid #000;
}

.input [placeholder="Subscribe to our newsletter"] {
	font: 17px "Muli-Bold";
	color: #6d450c;
	text-indent: 70px;
}

.footer__row--df {
	display: flex;
	justify-content: center;
}
.footer__text {
	@extend %posRel;
	font-size: 18px;
	color: #6d450c;
	border: 1px solid #000;
}

.footer__text span:before {
	content: "";
	@include wh(48px, 43px);
	position: absolute;
	top: -25px;
	left: -60px;
	background: url("../assets/images/footer/Arrow.png") center/ cover no-repeat;
	font-size: 18px;
	color: #6d450c;
}
.footer__bottom--bg {
	background-color: #68301c;
}
.footer__bottom {
	@extend %posRel;
	display: flex;
	align-items: center;
	height: 60px;
}

.author-rights {
	font: 13px "Muli-Bold";
	flex-grow: 0.5;
	text-align: right;
	border: 1px solid #000;
	color: #af8a82;
}

.footer__bottom-text {
	border: 1px solid #000;
	flex-grow: 0.44;
	text-align: right;
}

.footer__bottom-image {
	@include wh(50px, 50px);
	position: absolute;
	top: -30px;
	right: 0;
	border-radius: 5px;
	background-color: #f2662f;
	transition: transform 500ms cubic-bezier(0.17, 0.67, 0.6, 1.31);
}
.footer__bottom-image:hover {
	transform: translate(0, -15px);
}
.footer__bottom-image:before {
	content: "";
	@include wh(13px, 25px);
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translate(-50%);
	background: url("../assets/images/footer/arrow2.png") center/ cover no-repeat;
}
@media (max-width: 1200px) {
	.footer__row {
		flex-wrap: wrap;
	}
	.footer__column {
		margin: 25px 0 25px 0;
		flex: 1 0 50%;
		border: 1px solid #000;
	}
	.footer__column:nth-child(2) {
		flex: 1 0 50%;
		margin-right: 0;
	}
	.footer__column:nth-child(3) {
		flex: 1 0 50%;
		margin-right: 0;
	}

	.footer__column:nth-child(1) {
		flex: 1 0 50%;
	}
	.input [placeholder="Subscribe to our newsletter"] {
		font-size: 16px;
		text-indent: 30px;
	}
	//----------------------------------
	.footer__row--df {
		display: block;
	}
	.footer__text {
		text-align: center;
	}
	.footer__text span {
		position: relative;
		top: 0;
		left: 0;
		border: 1px solid #000;
		display: inline-block;
	}
	.footer__text span:before {
		content: "";
		@include wh(48px, 43px);
		position: absolute;
		top: -25px;
		left: -60px;
		background: url("../assets/images/footer/Arrow.png") center/ cover no-repeat;
		font-size: 18px;
		color: #6d450c;
	}

	.footer-icon__list {
		margin-top: 10px;
		display: flex;
		justify-content: center;
	}
	//----------------------------------
}

@media (max-width: 468px) {
	.footer__image {
		text-align: center;
	}
	.footer__image img {
		@include wh(80%, 80%);
	}
	.footer__column:nth-child(1) {
		flex: 1 1 100%;
	}
	.input [placeholder="Subscribe to our newsletter"] {
		font-size: 12px;
		text-indent: 20px;
	}
}
