.header {
	@extend %posAbs;
	@include wh(100%, 100%);
	z-index: 50;
	padding-top: 70px;
}

.conteiner {
	max-width: 1750px;
	margin: 0 auto;
	height: 100%;
}
.header__row {
	@extend %flexDirC;
	border: 1px solid #000;
}

.header__top {
	display: flex;
	align-items: center;
	border: 1px solid #000;
}

.header__column {
	flex: 1 1 53.333%;
	border: 1px solid #000;
}
.header__column:nth-child(2) {
	flex: 0 0 auto;
}

.nav__list {
	display: flex;
	margin: 0 -17.5px;
	border: 1px solid #000;
}

.nav__item {
	margin: 0 17.5px;
	border: 1px solid #000;
}

.nav__item a {
	color: $white;
	font: 16px "Muli-Bold";
	text-transform: uppercase;
}

.header__image {
	text-align: center;
}

.icon__wrapper {
	border: 1px solid #000;
	display: flex;
}

// ************************************************
// ******************column************************

.icon__column:nth-child(1) {
	display: flex;
	justify-content: flex-end;
	flex: 1 0 33.333%;
	align-self: center;
	border: 1px solid rgb(243, 4, 4);
}

.icon__column:nth-child(1) .icon__list {
	margin: 0 25px/560.4px * 100%;
}

.icon__column:nth-child(1) .icon__list:nth-child(1) {
	margin: 0 25px/560.4px * 100% 0 0;
}

.icon__column:nth-child(1) .icon__list:nth-child(3) {
	margin: 0 0 0 25px/560.4px * 100%;
	@extend %posRel;
}

.icon__column:nth-child(1) .icon__list:nth-child(3) .icon__link {
	margin: 0 0 0 25px/560.4px * 100%;
	@extend %posRel;
}
// ********************2***************************
.icon__column:nth-child(2) {
	margin: 0 40px/763.5px * 100% 0 50px/763.5px * 100%;
	border: 1px solid rgba(88, 87, 87, 0.308);
	transform: rotate(90deg);
	flex: 0 1 0%;
}
// ********************2***************************
.icon__column:nth-child(3) {
	border: 1px solid rgb(243, 4, 4);
	display: flex;
	flex: 0 1 0%;
	justify-content: flex-end;
}

.icon__column:nth-child(3) .icon__list {
	margin: 0 7.5px;
}
.icon__column:nth-child(3) .icon__list:nth-child(1) {
	margin: 0 7.5px 0 0;
}
.icon__column:nth-child(3) .icon__list:nth-child(3) {
	margin: 0 0 0 7.5px;
}

// ******************column************************
// ------------------------------------------------
.icon__list {
	border: 3px solid rgb(79, 27, 163);
	transition: transform 1s ease;
}
.icon__list:hover {
	transform: rotate(360deg);
}

.icon__tabs {
	@include wh(23px, 23px);
	position: absolute;
	top: -12px;
	right: -20px;
	background-color: $white;
	border-radius: 50%;
	text-align: center;
	padding-top: 6px;
	font-size: 12px;
}

.header__bottom {
	align-self: center;
	border: 3px solid rgb(79, 27, 163);
}

.bth {
	@extend %posRel;
	padding: 1.9rem 11.354rem;
	color: $white;
	font: 2.1rem "Muli-Regular";
	background-color: #0aa566;
	border-radius: 3.5rem;
	text-indent: -2.7em;
	transition: transform 500ms cubic-bezier(0.33, 0.46, 0.08, 1.33);
	border: 1px solid #036b416b;
}

.bth:hover {
	transform: translate(50px);
}

.header__bth {
	margin-top: 105px;
}

.bth:after {
	content: "";
	@include wh(4rem, 2rem);
	position: absolute;
	top: 23px;
	right: 25px;
	display: inline-block;
	background: url("../assets/images/header/Arrow.png") center/ cover no-repeat;
	transition-duration: 1s;
}

.header__background {
	@extend %posRel;
	@include wh(100%, 100vh);
}

.header__background img {
}
@media (max-width: 1200px) {
	// bth==================bth========================bth
	.bth {
		padding: 1.9rem 10.354rem;
		font-size: 1.6rem;
	}
	.bth:after {
		@include wh(2.5rem, 1.25rem);
	}

	//bth---------------------bth----------------------bth
	.header__column:nth-child(2) {
		display: none;
	}
}

/*-burger==================burger======================burger-*/
@import "bth/header-burger.scss";
/*-burger--------------------burger--------------------burger-*/

// adaptive for icons 500px==========================================
@media (max-width: 500px) {
	.icon__wrapper {
		border: 1px solid #000;
		display: flex;
	}
	.icon__column {
		margin: 0 auto;
	}
	.icon__column:nth-child(1) {
		display: inline-block;
	}
	.icon__column:nth-child(1) .icon__list:first-child {
		margin: 0;
		text-align: center;
	}
	.icon__column:nth-child(1) .icon__list {
		text-align: center;
		margin: 10px;
	}
	.icon__column:nth-child(1) .icon__list:last-child {
		margin: 0;
	}

	.icon__column:nth-child(2) {
		display: none;
	}

	.icon__column:nth-child(3) {
		display: inline-block;
	}
	.icon__column:nth-child(3) .icon__list:first-child {
		margin: 0;
		text-align: center;
	}
	.icon__column:nth-child(3) .icon__list {
		text-align: center;
		margin: 0;
	}
	.icon__column:nth-child(3) .icon__list:last-child {
		margin: 0;
	}

	.header__image img {
		@include wh(100%, 100%);
	}

	.bth:hover {
		transform: translate(0);
	}
}
// adaptive for icons 500px--------------------------------
.banner {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 10000;
	animation-name: animation;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
}

.text__play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $white;
}
